.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 1em;
  }

  .people-meta {
    font-size: 14.8px;
  }
}

.people-avatar {
  object-fit: cover;
  aspect-ratio: 1;

  &.details {
    width: 12rem;
    height: 12rem;
    border-radius: 9999px;
  }
}
